arch-repo
arch-root
aur-package
local-repo
.package-bui-already
.package-bui-new-faild
.package-bui-new-scuess
.package-bui-update-faild
.package-bui-update-scuess
.package-checking
.package-update
.server
test.sh
testfunction.sh